
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Suppression d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Suppression annone n°{{ advert }}</h2>
  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
  </p>

{% endblock %}